<h2>Expense Management Application</h2>

<div class="button-holder">
  <button class="btn btn-primary" (click)="openModal()">Book Expense</button>
  <button class="btn btn-primary" (click)="exportAsPDF()">Export as PDF</button>
</div>

<div class="table-holder">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Item</th>
        <th scope="col">Price</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses">
        <th scope="row">{{ expense.id }}</th>
        <td>{{ expense.item }}</td>
        <td>{{ expense.price }}</td>
        <td>{{ expense.date }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteExpense(expense.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal">
  <button class="btn btn-danger" (click)="closeModal()">Close</button>
  <div style="width: 100%" class="custom-quote">
    <label>Item</label>
    <input type="text" [(ngModel)]="newExpense.item" />
    <label>Price</label>
    <input type="number" [(ngModel)]="newExpense.price" />
    <label>Date</label>
    <input type="datetime-local" [(ngModel)]="newExpense.date" />
    <button class="btn btn-success" (click)="bookExpense()">Add</button>
  </div>
</div>
